NUKE_PATH=/upp/upptools/workgroups/nuke/{{ nuke.path }}
HIERO_PLUGIN_PATH=$NUKE_PATH/hiero
RR_ROOT=/upp/royalrender
QT_QPA_FONTDIR=/upp/upptools/workgroups/common/linux/fonts
LD_LIBRARY_PATH=/upp/upptools/workgroups/common/linux:/usr/local/cuda/lib64
OFX_PLUGIN_PATH=/usr/genarts/
CUDA_HOME=/usr/local/cuda
QT_COMPRESS_TABLET_EVENTS=1
OPTICAL_FLARES_PRESET_PATH=/upp/upptools/sg_workgroups/linux/Opticalflares/
OPTICAL_FLARES_LICENSE_PATH=/opt/Opticalflares/
FN_NUKE_DISABLE_TMPLIC_NOTIFY_DIALOG=1
foundry_LICENSE=4101@serlic5:4101@serlic7
PATH=$PATH:/opt/bin
peregrinel_LICENSE=4101@serlic5
SHOTGUN_PYTHON_VERSION=3
