export NUKE_PATH=/upp/upptools/workgroups/nuke/{{ nuke.path }}
export HIERO_PLUGIN_PATH=$NUKE_PATH/hiero
export RR_ROOT=/upp/royalrender
export QT_QPA_FONTDIR=/upp/upptools/workgroups/common/linux/fonts
export LD_LIBRARY_PATH=/upp/upptools/workgroups/common/linux:/usr/local/cuda/lib64
export OFX_PLUGIN_PATH=/usr/genarts/
export CUDA_HOME=/usr/local/cuda
export QT_COMPRESS_TABLET_EVENTS=1
export OPTICAL_FLARES_PRESET_PATH=/upp/upptools/sg_workgroups/linux/Opticalflares/
export OPTICAL_FLARES_LICENSE_PATH=/opt/Opticalflares/
export FN_NUKE_DISABLE_TMPLIC_NOTIFY_DIALOG=1
export foundry_LICENSE=4101@serlic5:4101@serlic7
export PATH=$PATH:/opt/bin
export peregrinel_LICENSE=4101@serlic5
export SHOTGUN_PYTHON_VERSION=3
